<div class="col">
    <div class="card shadow-sm">
        {{ with .Resources.GetMatch "images/thumb.jpg" }}
            {{ with .Resize "800x"}}
            <img class="card-img-top" src="{{ .RelPermalink }}">
            {{ end }}
        {{ end }}
      <div class="card-body">
        <h4 class="card-title cugas-home-review-title">{{ .Title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Visited {{ .Date.Format "Jan 2, 2006" }}
        </h6>
        <p class="card-text">{{ .Summary }}</p>
      </div>
    </div>
</div>