<footer class="cugas-footer">
    <p>All content, including reviews, licensed <a class="link-dark" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> unless otherwise mentioned.
    </p>
    <p class="mb-4">Website built for 
        <a class="link-dark" href="https://www.cugas.co.uk/">CU Gastronomy</a> by 
        <a class="link-dark" href="https://github.com/matiasilva">@matiasilva</a>.
    </p>
    <p><a class="link-dark" href="#"><i class="bi bi-arrow-up"></i>Back to top</a></p>
</footer>